Spendingz/Spendingz/Spendingz/bin/
Spendingz/Spendingz/Spendingz/obj/
Spendingz/Spendingz/Spendingz.Android/bin/
Spendingz/Spendingz/Spendingz.Android/obj/
Spendingz/Spendingz/Spendingz.iOS/obj/
Spendingz/Spendingz/Spendingz.iOS/bin/
Spendingz/packages/
Spendingz/.vs/